body {
    background-image: url("https://images.pexels.com/photos/2606532/pexels-photo-2606532.jpeg?cs=srgb&dl=environment-evergreen-forest-2606532.jpg&fm=jpg");
    background-size: cover;
}

.mainContainer {
    height: fit-content;
    margin: 25px auto;
    position: relative;
    text-align: center;
    width: fit-content;
}

.minMoves {
    font-size: 14px;
    margin-top: -5px;
}

.movesCounter {
    color: white;
    font-size: 72px;
}

.towersContainer {
    margin: 10px auto;
    min-height: 500px;
    min-width: 900px;
}