body {
    background-image: url("https://www.pexels.com/photo/photo-of-evergreen-forest-2606532/");
    background-size: "cover";
}

.mainContainer {
    height: fit-content;
    margin: 25px auto;
    position: relative;
    text-align: center;
    width: fit-content;
}

.towersContainer {
    margin: 10px auto;
    min-height: 500px;
    min-width: 900px;
}